

body {
  min-width: 900px;

  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: white;
  color: black;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
p,
ul,
h1,
h2,
h3,
figure {
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

ul {
  list-style: none;
}

a{
  text-decoration:none ;
  color: inherit;
}



.header {
  background-color: #EEEEEE;



  height:  10%;
}

.logo{
  float: left;
   margin-top: 1%;
   padding-left: 7%;

}



nav{
   margin-left: 30%;
   padding-bottom: 5%;


}
.navli a{
  float: left;
  margin-left: 5%;
  margin-top: 2%;
  color: #000000;
  text-decoration: none;
  font-size: 120%;
  font-family:  Roboto;
text-transform: uppercase;
font-weight: 700;
}

.navli a:hover{
  padding-bottom: 8px;
    border-bottom: 2px solid #FB565A;

}


#navlik a{

  float: right;
  margin-right: 15%
}


.section-slider {
  background-color: #EEEEEE;
  width: 100%;
  height: 473px;
  left: 140px;
  top: 114px;
}


.index{
  float: right;
  margin-right: 2%;
  padding-top: 2.8%;
}

.slide{
  width: 1157px;
  height: 431px;
  left: 140px;
  top: 114px;

}
.slide h2{
  padding-top: 12%;
  padding-left:8.5%;
  width: 40%;
  font-size: 300%;
  line-height: 100%;
}

.slide p{
white-space: pre;
padding-left:4%;
  font-size: 120%;
  margin-top: -1%;
  margin-bottom: 3%;
}

.button {
  text-decoration: none;
  color: white;
  padding: 15px 54px 17px;
  background-color: #FB565A;
  margin-left: 8%;
  border-radius: 5px;


}

.section-services{
  width: 1100px;
  height: 347px;
  left: 140px;
  top: 625px;
}

.services h2{
 margin-top: 2%;
 margin-left: 6%;
}

.services li {
  float: left;
  margin-left: 6%;
  margin-top: 2%;
  margin-right: 5%;
  font-size: 160%;
  font-weight: 700;
  line-height: 180%;
}
.clear{
  clear: both;
  padding-top: 50%;
}
.services li ts{
padding-top: 50%;

}
.services li p{
  white-space: pre;
  font-size: 60%;
  line-height: 130%;
  font-weight: 500;
  margin-top: 4%;
  margin-bottom: 5%;

}

.services li a{
  margin-top: 2000%;
  background-color: #FB565A;
  text-decoration: none;
  font-size: 70%;
  padding: 5% 10% 5% 10%;
  line-height: 200%;
  color: #FFFFFF;
  font-weight: 500;
}

#buttongreen{
  background-color: #00CA74;
}

#buttonyellow{
  background-color: #EFC849
}
hr{
  border: none;
    background-color: #EEEEEE; 
    color: #EEEEEE; 
    height: 2px; 
    margin-top: 5%;
    width: 84%;
    margin-left: 6%;
    margin-right: 10%;
}

.company{
  margin-left: 6%;
  margin-top: 3%;
  line-height: 300%;
}

.company h2{
  white-space: pre;
  line-height: 110%;
  font-size: 200%;
  margin-bottom: 1%;
}

.header-info{
    white-space: pre;
    line-height: 150%;
    margin-bottom: 2%;
}

.detail-list-title{
  font-weight: 800;
  font-size: 100%;
}

.detail-list{
  list-style-type:"– ";
}

.detail-list::before{
  color: #FB565A;
}


.work{
  float: left;
  margin-top: -27%;
  text-align:center;
  margin-left: 63%;

}

.work p{
    text-align:left;
  font-weight: 800;
}



.since{
  font-weight: 800;

}

.sinsc li, .sinst li{
  float: left;
  margin-left: 10%;
  font-size: 200%;
  font-weight: 700
}

.sinst li{
  float: left;
  font-size: 70%;
  margin-left: 10%;
  width: 22%;
  line-height: 140%;

}
.l{
  margin-left: 0%;
  width: 88%;

}

.customers img{
  float: left;
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 6%;
  margin-bottom: 2%;
}
.adress{
  margin-top: 3%;
}

.adress img{
  width: 100%;
}

#metka{
  position: absolute;
  height: 12%;
  width: 10%;
  margin-left: -39.5%;
  margin-top: 11%;
}

.nerds
{
  background-color: #FFFFFF;

  width: 17%;
  margin-left: 6%;
  padding-left: 3%;
  margin-top: -23%;
  position: absolute;
  padding-top: 3%;
  height: 37%;
}

.nerds p{
  margin-top: 5%;
  margin-bottom: 10%;
  color: #666666;

}

.tel{
  margin-top: 5%;
  padding-bottom: 15%;
}

.tel a{
color: #666666;
text-decoration: none;
}


.my_modal{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.5);z-index:1050;display:none;margin:0;padding:0;}
.my_modal:target{display:block;overflow-y:auto;}
.my_modal-dialog{position:relative;width:auto;margin:10px;}@media (min-width:700px)
{.my_modal-dialog{width:50%;margin:30px auto;}}
.my_modal-content{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
  -webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;
  -ms-flex-direction:column;flex-direction:column;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box);
  border-radius:6px;outline:0;}@media (min-width:768px)
  {.my_modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}}
  .my_modal-header{display:block;padding:14px 14px 4px;}
  .my_modal-title{margin-top:0;margin-bottom:0;line-height:1.5;margin-left: 10%;
    font-size:2rem;font-weight:500; }.close{padding:1px 5px 0;
      font-family:sans-serif;font-size:50px;line-height:1;color: #FB565A;text-shadow:0 1px 0 #fff;
      opacity:.5;text-decoration:none;top:4px;right:4px;position:absolute; margin-top: 3%; margin-right: 3%}

      .my_modal-body{position:relative;-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;padding:15px;overflow:auto;}


        .window {
          color: black;
          font-size: 150%;
          margin-left: 10%;
          margin-top: 4%;
        }


        .data{
          display: block;
          font-size: 60%;
          color: black;
          font-weight: 800;
          margin-top: 5%;
          margin-bottom: 0%;
        }
        input {
             margin-top: -40%;
             width: 40%;
             padding: 1% 1% 1% 1%;
             border: 2px solid #D7DCDE;
             color: #444444;
             border-radius: 5px;
              }

              .feedback-right-column{
                float: right;
                margin-right: 28%;
                margin-top: -9.4%;
                margin-bottom: 5%;
              }



              .feedback-right-column input{

                width: 170%;
                padding: 4% 4% 4% 4%;

              }

              .datat label{
                font-size: 70%;
                font-weight: 800;
              }
              .datat textarea{
                margin-top: 1%;
                width: 90%;
                border: 2px solid #D7DCDE;
                padding: 1% 1% 1% 1%;
                 border-radius: 5px;
                 margin-bottom: 3%;
              }

              .buttonps button{
                float: left;
                background-color: #FB565A;
                margin-right: 5%;
                padding: 2% 5% 2% 5%;
                margin-bottom: 4%;
                border-radius: 5px;
                color: #FFFFFF;
                font-size: 80%;
                border: none;
              }

              #buttonp{
                padding: 2% 8% 2% 8%;
              }



 

.basement{
  margin-left: 6%;
  margin-top: 2%;
}
.icons li
{
  float: left;
  height: 30%;
  width: 5%;
}

.footer-left-column img, .footer-btn img{
  height: 50%;
  width: 50%;
  background-color:#E1E1E1;
  padding: 20% 20% 20% 20%;
  border-radius: 50%;
}

.footer-right-column{
  float: right;
  margin-right: 30%;
  margin-top: 0.5%;
}

.title{
  font-size: 200%;
  margin-bottom: 3%;
}

.info{
  margin-bottom: 5%;
}

.infowindow{
  display: none;
}





fieldset{
  border: none;
}



.navmenu2page{
   margin-left: 30%;
   padding-bottom: 20%;



}

#tek{
  padding-bottom: 8px;
    border-bottom: 2px solid #FB565A;

}

.mag{
  margin-top: -10%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 300%;
}


.seredin section{
  float: left;
  display: block;

}
.left{
  height: 100%;
  width: 30%;

}

.right{
  height: 100%;
  width: 70%;

}
.sortir{

  margin-left: 10%;
  font-size: 85%;
  font-weight: 700;
  padding-top: 2%;
}
.sorpo{
  margin-top: -2.3%;
}

.sorpo ul{
  margin-right: 10%;
  margin-left: 30%;

}

.sorpo uL li{
  float: right;
  margin-right: 5%;
  opacity: 0.3;
    text-transform: uppercase;
}

.sorpo uL li:hover{
  opacity: 1

}
.imgpr{
  margin-top: 5%;
  margin-left: 10%;


}

.liimg li{
  float: left;
  margin-right: 10%;
  margin-bottom: 5%;
  background-color: #4D4D4D ;
  padding: 1% 0% 0% 0%;
  text-indent: 3%;
text-align: justify;
  border-radius: 5px;
}

.liimg li:hover{

  background-color: #EEEEEE;


}

.liimg img{
  border-radius: 15px;

}

.holder{
position:relative;
width:100%;
height:270px;
/* background:#ff6600; */
margin-top: -270px;


}
.blockh{
position:absolute;
left:0;
bottom:0;
right:0;
top:0;

background-color: #EEEEEE;
border-radius: 5px;
color: black;
display:none;
text-align: center;
padding-top: 3%;
line-height: 200%;

}
.blockh p{
 color: #666666;
 padding-left: 15%;
 padding-right: 15%;
 font-size: 120%;
 padding-top: 3%;
 padding-bottom: 5%;
}

.blockh h3{
  font-size: 150%;
  padding-top: 5%;
}

.holder:hover .blockh{
display:block;

}


#buttonhold{
  margin-left: 1%;
padding-left: 20%;
padding-right: 20%;
}

#l1li li img, #l1li2 li img, #l1li3 li img{

text-align: inherit;
padding-top:1%;

}
.round{
  white-space: pre;

}

.round::before{
  content: "\2B24   \2B24   \2B24";
  color: white;


}
  .strang{
    margin-left: 8%;

  }

 .strang ul li a{
    float: left;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color: #EEEEEE;
    border: 3px solid #EEEEEE;
    font-weight: 700;

    text-align: center;

    padding: 1.3% 2% 1.3% 2%;
    border-radius: 5px;
  }


  .strang ul li a:hover{
    background-color: #FFFFFF;
    border: 3px solid #DBDBDB;
   }

   .filters{
       margin-left: 18%;
   }

  legend{
    /* margin-left: 85%; */
    font-weight: 700;
    padding-top: 6.5%;
    text-transform: uppercase;
    font-size: 85%;
    margin-bottom: 14%;
  }

  .polos{
    background-color: #EEEEEE;
    width: 70%;
    padding: 10% 10% 10% 10%;
    border-radius: 5px;

    margin-bottom: 5%;
  }


  .polos p {
    height: 1px;
    background: linear-gradient(to right, #00CA74 80px, #D7DCDF 30px);
    border: none;
    text-align: left;
    text-indent: 70px;
  }
  .polos p::before {
    content: '\25EF';
  position: relative;
    top: -10px;


    color: #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 150%;

  }

  p1::before {
    content: '\25EF';
  position: relative;
    top: -15px;
    left: -22px;


    color: #ABABAB;
    background-color: #ABABAB;
    border-radius: 50%;
    font-size: 50%;

  }

  pp::before {
    content: '\25EF';
  position: relative;
    top: -10px;
    left: -115px;


    color: #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 150%;

  }

  pp1::before {
    content: '\25EF';
  position: relative;
    top: -15px;
    left: -132px;


    color: #ABABAB;
    background-color: #ABABAB;
    border-radius: 50%;
    font-size: 50%;

  }
.minmaxc{
  margin-left: 4%;
  margin-bottom: 5%;
}
.minmaxc label{
  margin-right: 7%
}
.minmaxc label input{
  width: 30%;
  padding: 3% 1% 3% 1%;
  text-align: center;
  border: none;
  background-color: #EEEEEE;

}
.setka{
  margin-bottom: 3%;
}



 .radio {
   position: relative;
   margin-bottom: 1rem;

 }


 .radio_input {

   appearance: none;
   position: absolute;
    border: none;
 }
 

 .radio_label {
   padding-left: 35px;
   font-size: 1rem;
   color: #283136;
   cursor: pointer;

 }
 
 .radio_label:before {
   content: "";
   display: block;
   width: 16px;
   height: 16px;
   border: 4px solid #4D4D4D;
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
     z-index: 1;
   transition: border .1s linear;
 }


 .radio_label:after {
   content: "";
   display: block;
   width: 10px;
   height: 10px;
   background-color: #4D4D4D;
   border-radius: 50%;
   opacity: 0;
   position: absolute;
   top: 7px;
   left: 7px;
   z-index: 2;
   transition: opacity .1s linear; 

 }

 .radio_input:checked + .radio_label:after {
    opacity: 1;
}



.checkbox {
  position: relative;
  margin-bottom: 1rem;

}


.checkbox_input {

  appearance: none;
  position: absolute;
   border: none;
}


.checkbox_label {
  padding-left: 35px;
  font-size: 1rem;
  color: #283136;
  cursor: pointer; 

}


.checkbox_label:before {
  content: "";
  display: block; 
  width: 18px; 
  height: 18px;
  border: 2px solid #4D4D4D;
  background-color: #EEEEEE; 
  border-radius: 5px;
  position: absolute;
  top: 0; 
  left: 0;
    z-index: 1; 
  transition: border .1s linear;
}


.checkbox_label:after {
  content: "\2714";
  display: block;
  width: 14px;
  height: 10px;
  color: #4D4D4D;
  opacity: 0; 
  position: absolute;
  top: 0px;
  left: 5px;
  z-index: 2;
  transition: opacity .1s linear;
  font-size: 120%;


}

.checkbox_input:checked + .checkbox_label:after {
   opacity: 1;
}
 .ol{
   margin-bottom: 2%;
 }

.buttonleft{
  width: 70%;
  margin-left: 4%;
  margin-top: 7%;
  padding: 3% 0% 3% 0%;
  border: none;
  font-weight: 700;
  font-size: 110%;
  border-radius: 5px;
}


.button {
  text-decoration: none;
  color: white;
  padding: 15px 54px 17px;
  background-color: #FB565A;
  margin-left: 8%;
  border-radius: 5px;


}

.write-us{
  margin-left: -3%;
}
.write-us a{
  margin-top: 50%;
}
